@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(255, 255, 255, 0.539);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 10%;
    border-bottom: 1px solid rgba(106, 106, 106, 0.792);
    margin-bottom: 20px;
}

.nav_settings{
    list-style: none;
}
.nav_settings li a{
    text-decoration: none;
    color: black;
}

.bl-name{
    order:2;
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
    color:black;
}

nav{
    order:3;
}

.nav_settings li{
    display: inline-block;
    padding:0px 20px;
}

.nav_settings li a{
    transition: all 0.3s ease 0s;
}

.ctx{
    order: 1;
    padding:9px 25px;
    background-color:white;
    border:1px solid rgba(106, 106, 106, 0.792);
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.main-container{
    margin:0px 10%;
}

.login-container{
    margin-left: 18%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 1px solid rgba(106, 106, 106, 0.792);
    width: 60%;
}

.login-container:hover{
    box-shadow: 1px 1px 5px;
}

.login-heading{
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
}

.login-form{
    width:71%;
}

.login-form button{
    padding: 8px 0px;
    background-color: rgba(77, 205, 255, 0.849);
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}